<!-- <div class="header">
    <div class="container">
        <h1>E-CitizenConnect</h1>
        <nav>
            <ul>
                <li><a [routerLink]="['/home']">Home</a></li>
                <li><a [routerLink]="['/educate']">Educate</a></li>
                <li><a [routerLink]="['/views']">Views</a></li>
                <li><a [routerLink]="['/incidents']">Incidents</a></li>
                <li><a [routerLink]="['/polls']">Polls</a></li>
                <li><a [routerLink]="['/logout']">LogOut</a></li>
                <img src="../../assets/logoArms.png" alt="logo">
            </ul>
        </nav>
    </div>
</div> -->

<div class="intro-section">
    <div class="img">
        <!-- <img src="../../assets/home.jpg" alt="background-img"> -->
    </div>
    <p>Government of Kenya Connects to Citizens Simplified <br>
        All citizens with the government unified</p>
</div>

<div class="services">
    <h2>Report any incidents to us today!</h2>
    <div class="img1">
        <img src="../../assets/open-book.png" alt="Educate">
        <p>Educate yourself with <br> 
        our freely provided materials</p>
    </div>
    <div class="img1">
        <img src="../../assets/report.png" alt="Educate">
        <p>Share and create<br> 
        your views</p>
    </div>
    <div class="img1">
        <img src="../../assets/file.png" alt="Educate">
        <p>Report witnessed incidents <br>
        that require our attention</p>
    </div>
    <div class="img1">
        <img src="../../assets/polling.png" alt="Educate">
        <p>Participate in our polls</p>
    </div>
</div>
<div class="testimonials">
    <div class="img2">
        <img src="../../assets/official.jpg" alt="official">
    </div>
    <div class="content">
        <h2>What our Officials Say</h2>
        <p>"This platform has revolutionized how we connect with our citizens.<br>
            It allows us to gather invaluable feedback and address incidents more efficiently,<br>
            ensuring a safer and more informed community."</p>
        <h3>Jane Smith, Chief of Police</h3>
    </div>
</div>
<div class="footer">
    <div class="comtact"> 
    <p>Address: "Harambee Avenue"</p>
    <p>P.O. Box 30510-00100 <br> NAIROBI."</p>
    <p>Email: feedback&#64;citizenconnect.go.ke"</p>
    <p>Phone: "020-2227436"</p>
    </div>
    <div class="link">
        <h4>Quick Links</h4>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
            </ul>
        </nav>
    </div>
</div>
  
