<app-header></app-header>
<!-- <app-login></app-login> -->
<!-- <app-signup></app-signup> -->
 <!-- <app-home></app-home>  -->
  <!-- <app-educate></app-educate> -->
   <!-- <app-incidents></app-incidents> -->
   <!-- <app-views></app-views> -->
    <!-- <app-polls></app-polls> -->
     <!-- <app-official-home></app-official-home> -->
      <!-- <app-official-views></app-official-views> -->
       <!-- <app-officials-incidents></app-officials-incidents> -->
        <!-- <app-official-polls></app-official-polls> -->
         <!-- <app-admin-home></app-admin-home> -->
          <!-- <app-users></app-users> -->
           <!-- <app-officials></app-officials> -->
           <!-- <app-official-sidebar></app-official-sidebar> -->
<router-outlet></router-outlet>